{% extends 'base.html' %}

{%block content%}
    <div class="container">
        <h3>Pickup lines</h3>
            <ul class="list-group">
                {% for pitch in pitches %}
                    {% if pitch.category == 'Pickup' %}
                    <li class="list-group-item"><a href="{{url_for('main.new_comment', id=pitch.id)}}">{{pitch.title}}</a></li>
                    <p>{{pitch.pitchname}}</p>
                    {% endif %}
                {% endfor %}
            </ul>
        
        <h3>Product pitch</h3>
            <ul class="list-group">
                {% for pitch in pitches %}
                    {% if pitch.category == 'Product' %}
                        <li class="list-group-item"><a>{{pitch.title}}</a></li>
                        <p>{{pitch.pitchname}}</p>
                    {% endif %}
                {% endfor %}
            </ul>
        <h3>Interview pitch</h3>
            <ul class="list-group">
                {% for pitch in pitches %}
                    {% if pitch.category == 'Interview' %}
                        <li class="list-group-item"><a>{{pitch.title}}</a></li>
                        <p>{{pitch.pitchname}}</p>
                    {% endif %}
                {% endfor %}
                
            </ul>
            <h3>Promotion pitch</h3>
            <ul class="list-group">
                {% for pitch in pitches %}
                    {% if pitch.category == 'Promotion' %}
                        <li class="list-group-item"><a>{{pitch.title}}</a></li>
                        <p>{{pitch.pitchname}}</p>
                    {% endif %}
                {% endfor %}
                
            </ul>
    </div>
{%endblock%}